argparse==1.1
csv==1.0
matplotlib==3.2.2
numpy==1.19.5
pandas==1.1.5
tensorflow==2.7.0
seaborn==0.11.2
sklearn==1.0.1
IPython==5.5.0
jupyter_client==5.3.5
jupyter_core==4.9.1
notebook==5.3.1
